* {
  -webkit-tap-highlight-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 21, 29);
  color: rgb(255, 255, 255);
  }

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ontop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.tit {
  font-family: orbitron;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 60px;
}
.discord {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(114, 137, 218);
  width: 300px;
  height: 70px;
  color: whitesmoke;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 70px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, 
    transform .2s ease-in-out;
}
.discord:hover {
  transform: scale(1.1);
  background-color: rgb(220, 209, 209);
  color: rgb(114, 137, 218);
}
.discord:active{
  transition: background-color 0.3s, color 0.3s;
  background-color: rgba(202, 197, 197, 0.5);
  color: rgba(114, 137, 218, 0.5);
}


.insta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(211, 0, 235, 1);
  width: 300px;
  height: 70px;
  color: whitesmoke;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out,
    transform .2s ease-in-out;
}
.insta:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: rgba(211, 0, 235, 1);
}
.insta:active {
  transition: background-color 0.3s, color 0.3s;
  background-color: rgba(245, 245, 245, 0.4);
  color: rgba(211, 0, 235, 0.4);
}


.tts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 70px;
  color: cyan;
  font-size: 17px;
  font-weight: bold;
  border: red;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out,
    transform .2s ease-in-out;
}
.tts:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 1);
}
.tts:active {
  transition: background-color 0.3s, color 0.3s;
  background-color: rgba(245, 245, 245, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.textA {
  position: absolute;
  left: 70px;
}

.icon {
  position: absolute;
  height: 40px;
  right: 45px;
}

.copy {
  font-family: 'Orbitron', sans-serif;
  margin: 30px;
  color: white;
  transition: color .5s var(--trans-timing);
}

@media (max-width: 500px) {
  .copy {
    font-size: 15px;
    position: absolute;
    bottom: 0;
  }
}
